.main {
    position: relative;
    z-index: 0;
}

.main__intro {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main__intro-text {
    background-color: rgb(55, 150, 131, 0.4);
    padding: 50px 0 60px;
    border-radius: 10px;

}

.main__intro-title {
 margin-right: 0;
}
.main__intro-subtitle {
margin: 0;
}


.main__intro-img {
    background-image: url(../../images/technology-4256272_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-width:300px;
    width: 50%;
    height: 50%;
    min-height: 200px;    
    position: absolute;
    top:0;
    right: 45px;
    z-index: -1;
    border-radius: 10px;
}

.main__how {
 
}

.main__how-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__how-box {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8EE4AF;
}

.main__how-img {
    height: 100px;
    width: 100px;
}

.main__feedback {
    overflow: initial;
}

.main__feedback-list {
    list-style: none;
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
}

.main__feedback-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin-right: 30px;
}

.main__feedback-pic {
    background-image: url(../../images/noavatar.jpg);
    width: 80px;
    height: 80px;
    background-size: cover;
    border-radius: 50%;
}

.main__feedback-text {
    text-align: center;
}