.header {
    background-color: #bbe7cc;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    width: 50px;
    height: 50px;
    background-image: url(../../images/Shake-hand.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px 20px;
    box-shadow: 2px 2px 8px 2px #67dd92;
}

.header__menu_btn {
    background-color: #6de0e4;
    border: 1px solid white;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 10px;

}

.header__menu_btn:last-child {
    margin-right: 0;
}